<div class="lobby-panes">
  <div class="pane-row">
    <div class="pane" id="header"><h1>Dominion</h1></div>
    <div class="pane" id="game-listing">
      <div class="pane-content">
        <div class="header">
          <input [(ngModel)]="searchText" type="text" placeholder="Search for a game..." />
          <div class="button-container">
            <a routerLink="/create"><button>Create Game</button></a>
          </div>
        </div>
        <ul class="games">

          <li *ngFor="let pending of pendings">
            <div
                  *ngIf="gameMatchesSearch(pending)"
                  class="game"
                  (click)="select(pending)"
                  [ngClass]="{selected: pending.id === selectedGameId}">
              <div class="game-name">{{ pending.name }}</div>
              <div class="players">{{ pending.users.length }} / {{ pending.maxusers }}</div>
              <div class="cards">
                <div class="card" *ngFor="let card of pending.actioncardids">
                  <img src="../../assets/card/card{{ card }}.jpg">
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="pane-row">
    <div class="pane" id="chat">
      <div class="pane-content">
        <dmn-chat [socket]="_chatSocketService"></dmn-chat>
      </div>
    </div>
    <div class="pane" id="game-info">
      <div class="pane-content">
        <div class="pane-content-inner" *ngIf="selectedGame">
          <div class="game-info-header">
            <div class="game-name">
              {{ selectedGame.name }}
            </div>
            <div class="join-status" *ngIf="inGame">
              Joined, waiting for users...
            </div>
          </div>
          <div class="players-list">
            <div class="players-list-title">
              Players
            </div>
            <div class="players">
              <div class="player" *ngFor="let player of selectedGame.users">
                {{ player.name }}
              </div>
            </div>
          </div>
          <div class="join-game">
            <button *ngIf="!inGame" (click)="join()">Join Game</button>
            <button *ngIf="inGame" (click)="leave()">Leave Game</button>
          </div>
          <div class="cards">
            <div class="card" *ngFor="let card of selectedGame.actioncardids">
              <img src="../../assets/card/card{{ card }}.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
