<div class="lobby-panes">
  <div class="pane-row">
    <div class="pane" id="header"><h1>Dominion</h1></div>
    <div class="pane" id="game-listing">
      <div class="pane-content">
        <div class="header">
          <input type="text"/>
          <div class="button-container">
            <button>Create Game</button>
          </div>
        </div>
        <ul class="games">
          <li class="game">
            <div class="game-name">Awesome_Gam32</div>
            <div class="players">3/4 Players</div>
            <div class="cards">
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
            </div>
          </li>
          <li class="game">
            <div class="game-name">Awesome_Gam32</div>
            <div class="players">3/4 Players</div>
            <div class="cards">
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
            </div>
          </li>
          <li class="game">
            <div class="game-name">Awesome_Gam32</div>
            <div class="players">3/4 Players</div>
            <div class="cards">
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
            </div>
          </li>
          <li class="game">
            <div class="game-name">Awesome_Gam32</div>
            <div class="players">3/4 Players</div>
            <div class="cards">
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pane-row">
    <div class="pane" id="chat">
      <div class="pane-content">
        <dmn-chat></dmn-chat>
      </div>
    </div>

    <!--<div class="pane" id="chat">-->
      <!--<div class="pane-content">-->
        <!--<div class="messages">-->
          <!--<div class="message">-->
            <!--<div class="name">-->
              <!--Guest-->
            <!--</div>-->
            <!--<div class="message-content">-->
              <!--Hola-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="message">-->
            <!--<div class="name">-->
              <!--Guest-->
            <!--</div>-->
            <!--<div class="message-content">-->
              <!--Ut non bibendum velit. Phasellus non vulputate ipsum, sit amet pellentesque nulla.-->
              <!--Maecenas at turpis volutpat, mattis nunc eu, gravida purus. In sit amet dui leo.-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="message">-->
            <!--<div class="name">-->
              <!--xXxB3n_tha_GodxXx-->
            <!--</div>-->
            <!--<div class="message-content">-->
              <!--Hey-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="input-container">-->
          <!--<input type="text"/>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="pane" id="game-info">
      <div class="pane-content">
        <div class="game-info-header">
          <div class="game-name">
            Awesome_Gam32
          </div>
          <div class="join-status">
            Joined, waiting for users...
          </div>
        </div>
        <div class="players-list">
          <div class="players-list-title">
            Players
          </div>
          <div class="players">
            <div class="player">
              xXxB3n_tha_GodxXx
            </div>
            <div class="player">
              x.X.D.a.|.G.3.n.3.n.3.r.4.a.l.X.x
            </div>
            <div class="player">
              x.X.D.a.|.G.3.n.3.n.3.r.4.a.l.X.x
            </div>
            <div class="player">
              &quot;); DROP TABLE users; --
            </div>
          </div>
        </div>
        <div class="join-game">
          <button>Join Game</button>
        </div>
        <div class="cards">
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
      </div>
    </div>
  </div>
</div>
