* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #333;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}


li {
  list-style: none;
}

button {
  text-transform: uppercase;
  border: 1px solid #777;
  border-radius: 2px;
  background: none;
  padding: 8px 12px;
  transition: background 0.15s;
}
button:hover {
  cursor: pointer;
  background: #DDD;
}

input {
  padding: 12px;
  border: 1px solid #DDD;
}

input:focus {
  outline: none;
  background: #FCFCFC;
}

