<div class="chat-container">
    <div class="messages">
      <div class="message-container" id="chat-messages">
        <div class="message" *ngFor="let message of chatModel.messages; let i = index; let l = last" id="message{{ i }}">
          <div class="name" [style.color]="message.color">
            {{ message.name }}
          </div>
          <div class="message-content" [innerHtml]="message.message">
            <!--{{ message.message }}-->
          </div>
          {{ l ? updateScroll() : null }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <input #chatInput
             type="text"
             (keyup.enter)="onEnter(chatInput.value)"
             [(ngModel)]="currentMessage"/>
    </div>
</div>
