<div class="card {{ type() }}"
     (click)="select()"
     [ngClass]="{selected: selectable && selected,
                 isCard: !!card, disabled: disabled}"
>
  <div class="disable-filter"></div>
  <img src="{{ imageSource() }}" *ngIf="hasCount()">
  <div class="counter-container" *ngIf="hasCount()">
    <div class="counter">{{count}}</div>
  </div>

  <div class="image" *ngIf="card" [style.background-image]="imageSource()"></div>
  <div class="card-label" *ngIf="card">
    <div class="name">{{ card.name }}</div>
    <div class="description" [innerHtml]="card.text"></div>
  </div>
  <div class="card-footer" *ngIf="card">
    <div class="gold">{{ card.cost }}</div>
  </div>
</div>
