.card {
  width: 100px;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(black, 0.12), 0 1px 3px rgba(black, 0.24);
  //padding: 3px 3px 0px;
  //background: black;
  overflow: hidden;
  position: relative;
  font-size: 0;
  background: rgba(white, 0.75);
  background: #E9E5E0;
  transition: background 0.15s, transform 0.15s;
  user-select: none;

  .image {
    height: 75px;
    background-position: center center;
    background-size: cover;
  }

  // After is hover filter
  // Before is selected filter
  &::after, &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(white, 0.1);
    z-index: 12;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.selected {
    z-index: 20;

    &::after {
      background: rgba(white, 0.1);
    }

    &::before {
      background: rgba(#7fd8ff, 0.4);
      opacity: 1 !important;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 21;

    &::after {
      opacity: 1;
    }
  }

  .counter-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;

    .counter {
      background: rgba(#222, 0.8);
      border: 2px solid white;
      color: white;
      font-weight: 100 !important;

      height: 60px;
      width: 60px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
    }
  }

  .card-label {
    font-size: 14px;
    font-weight: 300;
    padding: 8px;
    padding-bottom: 0;
    color: #222;

    .name {
      margin-bottom: 4px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
    }

    .description {
      font-size: 0.8em;
    }

  }

  .card-footer {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .gold {
      height: 18px;
      width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 8px;
      border-radius: 9px;
      border: 1px solid #997733;
      font-size: 10px;
      //font-weight: 100;
      position: relative;
    }
  }

  img {
    width: 100% !important;
    position: relative;
    z-index: 10;
  }
}
