<div class="creation-container">
  <div class="pane-row">
    <div id="header"><h1>Create New Game</h1></div>
  </div>
  <form method="POST">
    <div class="pane-row" id="form-row">
      <div class="pane" id="inputs">
        <div class="pane-content">
          <div class="header">
            Game Name:
            <input name="gameName" placeholder="Name" />
          </div>
          <div class="header">
            Target Number of Players:
            <select name="numPlayers">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
      </div>
      <div class="pane" id="chat">
        <div class="pane-content">
          <dmn-chat></dmn-chat>
        </div>
      </div>
      <div class="pane" id="presets">
        <div class="pane-content">
          <div class="header">PRESETS</div>
          <table class="presets-table">
            <tr>
              <td>
                <div class="button-container">
                  <button>Basic</button>
                </div>
              </td>
              <td>
                <div class="button-container">
                  <button>Big Money</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="button-container">
                  <button>Random</button>
                </div>
              </td>
              <td>
                <div class="button-container">
                  <button>Sabotage</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="pane-row">
      <div class="pane" id="cards">
        <table class="available-cards">
          <tr>
            <td>
              <img class="card" src="../../assets/card0.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card1.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card2.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card3.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card4.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card5.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card6.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card7.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card8.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card9.jpg" />
            </td>
          </tr>
          <tr>
            <td>
              <img class="card" src="../../assets/card10.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card11.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card12.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card13.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card14.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card15.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card16.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card17.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card18.jpg" />
            </td>
            <td>
              <img class="card" src="../../assets/card19.jpg" />
            </td>
          </tr>
        </table>
      </div>
      <div class="pane" id="blowUp">
        <img id="blowUpImg" class="image" src="../../assets/card0.jpg" style="visibility: hidden;"/>
      </div>
    </div>
  </form>
</div>
