.creation-container {
  position: relative;
  overflow: auto;
  height: 100%;
  background: url('../../assets/bg.jpg') center center;
  background-size: cover;
}

.creation-container::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.header-row {
  z-index: 2;
  position: relative;
  padding: 10px;
  align-items: center;
  height: 8%;
}

#cards-row {
  z-index: 2;
  position: relative;
  padding: 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

form {
  height: 92%;
}

#form-row {
  z-index: 2;
  position: relative;
  padding: 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 30%;
  max-height: 30%;
  font-size: 2vmin;
  display: flex;
}

.pane {
  position: relative;
  display: inline-block;
}

.pane-content {
  height: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  background: #FAFAFA;
}

#header {
  height: 100%;
}

#header h1 {
  color: white;
  font-weight: 100;
  height: 100%;
  font-size: 7vmin;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.header {
  padding: 0.5vmin;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-label {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 2.5vmin;
}

.header input {
  width: 25vmin;
  transition: background 0.15s;
}

#chat {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.pane#chat .pane-content {
  background: rgba(30, 30, 30, 0.7);
  border: 1px solid #BBB;
  color: white;
}

.button-container button {
  margin: 0 10px;
  display: inline-block;
}

#blowUp {
  background: rgba(30, 30, 30, 0.7);
  border: 1px solid #BBB;
  color: white;
  height: 100%;
  vertical-align: middle;
  horiz-align: right;
}

.header select {
  font-size: 3vmin;
  width: 7vmin;
  height: 100%;
  text-align: center;
  color: #666;
  font-weight: 300;
}

.pane#inputs {
  vertical-align: middle;
}

#blowUpImg {
  width: auto;
  height: 100%;
}

.card-row {
  margin-bottom: 10px;
}

.card {
  width: 10%;
  height: auto;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.cardImg {
  width: 100%;
  height: auto;
}

#cards-row {
  height: 70%;
}

#card-select-and-submit {
  margin-right: 10px;
}

.wide-button-container {
  width: 100%;
  background-color: darkred;
  vertical-align: bottom;
}

.wide-button {
  width: 100%;
  height: 100%;
  font-size: 5vmin;
}

button:focus {
  border: none;
}
