<div id="game">
  <div id="board" *ngIf="game">
    <div id="left-bar">
      <div id="stats">
        <div class="stat">
          <span class="stat-label">Actions:</span> {{ game.actions }}
        </div>
        <div class="stat">
          <span class="stat-label">Buys:</span> {{ game.buys }}
        </div>
        <div class="stat">
          <span class="stat-label">Gold:</span> {{ game.gold }}
        </div>
      </div>
      <div id="cart">
      </div>
    </div>
    <div id="piles">

      <div class="pile-row">
        <dmn-card [card]="card" *ngFor="let card of game.nonactionCards">
        </dmn-card>
      </div>
      <div class="pile-row">
        <dmn-card [card]="card" *ngFor="let card of game.actionCards.slice(0, 6)">
        </dmn-card>
      </div>
      <div class="pile-row">
        <dmn-card [card]="card" *ngFor="let card of game.actionCards.slice(6, 12)">
        </dmn-card>
      </div>
    </div>
    <div id="right-bar-container">
      <div id="right-bar">
        <div class="turns">
          <div *ngFor="let player of game.players" class="turn">
            <div class="current-turn-message">Current Turn</div>
            <div class="turn-info">
              <div class="name">{{player.name}}</div>
              <div class="num-cards">3 Cards</div>
            </div>
          </div>
          <!--<div class="turn">-->
            <!--<div class="current-turn-message">Current Turn</div>-->
            <!--<div class="turn-info">-->
              <!--<div class="name">Ben</div>-->
              <!--<div class="num-cards">3 Cards</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="turn">-->
            <!--<div class="current-turn-message">Current Turn</div>-->
            <!--<div class="turn-info">-->
              <!--<div class="name">Ben</div>-->
              <!--<div class="num-cards">3 Cards</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="turn current-turn">-->
            <!--<div class="current-turn-message">Current Turn</div>-->
            <!--<div class="turn-info">-->
              <!--<div class="name">Ben</div>-->
              <!--<div class="num-cards">3 Cards</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="turn">-->
            <!--<div class="current-turn-message">Current Turn</div>-->
            <!--<div class="turn-info">-->
              <!--<div class="name">Ben</div>-->
              <!--<div class="num-cards">3 Cards</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="chat-container">-->
            <!--<dmn-chat></dmn-chat>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
  <div id="end-phase-row" *ngIf="game">
    <button>End Phase</button>
  </div>
  <div id="hud" *ngIf="game">
    <div class="left">
      <div class="discard">
        <dmn-card [count]="game.discardsize"></dmn-card>
      </div>
    </div>
    <div class="hand-container">
      <div class="hand">
        <dmn-card *ngFor="let card of game.hand" [card]="card"></dmn-card>
      </div>
    </div>
    <div class="deck">
      <dmn-card [count]="game.decksize"></dmn-card>
    </div>
  </div>
</div>

