#winScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .players {
    padding-bottom: 12px;

    .player {
      padding: 12px;
      display: flex;
      align-items: center;

      .player-name {
        width: 100px;
        font-weight: bold;
        display: inline-block;
      }

      .vp-container {
        display: inline-block;
        width: 500px;
        background: #a1bdaf;
        height: 30px;
        position: relative;

        .vp-bar {
          background: #448866;
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 8px;
          color: white;
        }

        .bar-text {
          position: absolute;
          top: 0; bottom: 0;
          left: 0; right: 0;
          color: white;
          display: flex;
          align-items: center;
          padding-left: 8px;
        }
      }
    }
  }
}

#game {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  //background: url('../../assets/parchment-002.jpg') center center;
  background: url('../../assets/bg_blur.png') center center;
  background-size: cover;
  position: relative;

  .timer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 8px;
    z-index: 12;
    background: #bed8f5;

    .timer-inner {
      height: 100%;
      width: 30%;
      background: #609ad2;
    }
  }


  #board {
    flex-grow: 1;
    display: flex;

    /* -------- LEFT BAR --------- */
    #left-bar {
      width: 220px;
      display: flex;
      flex-direction: column;

      #stats {
        padding: 20px 0px 20px 20px;
        font-size: 18px;

        font-weight: 100;
        color: white;

        .stat {
          display: flex;
          margin-bottom: 12px;
          justify-content: flex-start;
          font-weight: 300;
          min-height: 30px;
          align-items: flex-start;

          .stat-label {
            padding-top: 3px;
            font-weight: bold;
            min-width: 70px;
            text-transform: uppercase;
            padding-right: 8px;
            font-size: 0.7em;
            display: inline-block;
          }

          i {
            font-size: 20px;

            &.gold {
              color: #f5de64 !important;
            }

            &.buys {
              color: rgb(154, 214, 245) !important;
            }
            &.actions {
              color: #ff8e8e;
            }
          }

          .icons {
            display: inline-block;
          }

          .count {
            i {
              margin-right: 4px;
            }
            display: flex;
            align-items: center;
            font-weight: 100;
          }
        }
      }

      #cart {
        background: rgba(black, 0.5);
        flex-grow: 1;
        margin-right: 50px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        height: 40px;

        .cart-inner {
          width: 100%;
          display: flex;
          overflow: auto;
          flex-direction: column;
          padding-top: 12px;
          align-items: center;
          justify-content: flex-start;
        }
      }

      button {
        margin: 12px;
        min-width: 150px;
        font-size: 0.9em;
        font-weight: 100;
        color: white;
        background: rgba(black, 0.2);
        border: 1px solid #DDD;
        height: 50px;
        line-height: 50px;
        padding: 0;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        transition: background 0.15s;

        &:hover {
          background: rgba(black, 0.4);
        }
      }
    }

    /* ---------- PILES ---------- */
    #piles {
      flex-grow: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .pile-row {
        display: flex;
        justify-content: space-around;

        .card {
          width: 120px;
          font-size: 0;
        }


        //.card {
        //  width: 100px;
        //  border-radius: 3px;
        //  background: black;
        //  padding: 3px;
        //  padding-bottom: 0px;
        //
        //  img {
        //    width: 100%;
        //    height: auto;
        //  }
        //}
      }
    }

    /* -------RIGHT BAR ---------- */
    #right-bar-container {
      width: 320px;
      padding: 12px;
      display: flex;
      flex-direction: column;

      .exit-row {
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;
        color: white;
        align-items: center;
        padding: 8px;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 13px;

        &:hover {
          cursor: pointer;

          span {
            text-decoration: underline;
          }
        }

        i {
          color: white;
          padding: 0 12px;
        }
      }

      #right-bar {
        box-shadow: 0 1px 2px rgba(black, 0.12), 0 1px 3px rgba(black, 0.24);
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .turns {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .turn {
            padding: 18px 14px;
            border-bottom: 1px solid #DDD;
            background: white;

            .current-turn-message {
              display: none;
            }

            &.currentTurn {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              color: white;
              height: 100px;

              .current-turn-message {
                display: block;
                text-transform: uppercase;
                font-size: 0.9em;
                margin-bottom: 12px;
              }

              background: #555ec6;
              order: -1;
            }


            &.currentTurn {
              .turn-info {
                font-weight: 300;
              }
            }

            .turn-info {
              display: flex;
              justify-content: space-between;
            }
          }
        }

        .chat-container {
          background: rgba(black, 0.5);
          font-size: 0.8em;
          color: white;
          flex-grow: 1;
          display: flex;
          justify-content: stretch;
          overflow-y: auto;

          .message {
            padding: 0 !important;
          }
        }
      }
    }
  }

  /* ----------- HUD ------------- */
  #hud {
    min-height: 200px;
    display: flex;
    align-items: stretch;
    box-shadow: 0 1px 2px rgba(black, 0.12), 0 1px 3px rgba(black, 0.24);
    background: rgba(white, 0.3);
    border-top: 1px solid #DDD;

    .card {
      font-size: 0;

      .counter {
        font-size: 24px !important;
      }
    }

    .hand-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .hand {
        display: inline-block;

        .card {
          padding: 0 4px;
        }
      }
    }
    .left, .deck {
      padding: 0 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .label {
        //color: white;
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto', helvetica, sans-serif;
      }
    }
  }
}

dmn-card {
  display: inline-block;
  margin: 0 4px;
}


dmn-chat {
  width: 100%;
}

.hidden{
  visibility: hidden;
}
