<dmn-notification [(text)]="notificationText"></dmn-notification>

<div id="winScreen" *ngIf="game && game.isOver">
  <h2>{{ game.winner().name }} won!</h2>
  <div class="players">
    <div class="player" *ngFor="let player of game.players">
      <span class="player-name">{{ player.name }}</span>
      <div class="vp-container">
        <div class="vp-bar" [style.width.%]="player.victoryPoints / game.winner().victoryPoints * 100">
        </div>
        <div class="bar-text">
          {{ player.victoryPoints }} Victory Points
        </div>
      </div>
    </div>
  </div>
  <button routerLink="/lobby">Return to lobby</button>
</div>

<div id="game">
  <div id="board" *ngIf="game">
    <div id="left-bar">
      <div id="stats">
        <div class="stat">
          <span class="stat-label">{{notificationText}}Actions</span>
          <div class="icons">
              <i *ngFor="let i of game.actions | fill" class="actions material-icons">&#xE1AB;</i>
          </div>
        </div>
        <div class="stat">
          <span class="stat-label">Buys</span>
          <div class="icons">
              <i *ngFor="let i of game.buys | fill" class="buys material-icons">&#xE8CC;</i>
          </div>
        </div>
        <div class="stat">
          <span class="stat-label">Gold</span>
          <div class="icons" *ngIf="game.gold <= 5">
            <i *ngFor="let i of game.gold | fill" class="gold material-icons">&#xE263;</i>
          </div>
          <div class="count" *ngIf="game.gold > 5">
            <i class="material-icons gold">&#xE263;</i> x{{game.gold}}
          </div>
        </div>
      </div>
      <div id="cart" [ngClass]="{hidden: !shouldDisplayCart()}">
        <div class="cart-inner">
          <dmn-card *ngFor="let card of game.cart"
                    [card]="card"
                    (click)="game.removeFromCart(card)">

          </dmn-card>
        </div>
      </div>
      <div *ngIf="game.getCurrPlayerAction() && game.getCurrPlayerAction().cancel">
        <button (click)="cancel()">Cancel</button>
      </div>
      <div *ngIf="game.getCurrPlayerAction()">
        <button *ngFor="let button of game.getCurrPlayerAction().buttons"
                (click)="customButtonClicked(button.id)">{{button.name}}</button>
      </div>
      <button *ngIf="game.canEndPhase()"
              (click)="endPhaseClicked()">End {{ game.phase }} Phase</button>
    </div>
    <div id="piles">

      <div class="pile-row">
        <dmn-card [card]="card"
                  [disabled]="game.isDisabled(card, false)"
                  [selectable]="game.isSelectable(card, false)"
                  *ngFor="let card of game.nonactionCards"
                  (click)="cardClickedPile(card)"
        >
        </dmn-card>
      </div>
      <div class="pile-row">
        <dmn-card [card]="card"
                  [disabled]="game.isDisabled(card, false)"
                  [selectable]="game.isSelectable(card, false)"
                  *ngFor="let card of game.actionCards.slice(0, 5)"
                  (click)="cardClickedPile(card)"
        >
        </dmn-card>
        <!--<div style="width: 127px"></div>-->
      </div>
      <div class="pile-row">
        <dmn-card [card]="card"
                  [disabled]="game.isDisabled(card, false)"
                  [selectable]="game.isSelectable(card, false)"
                  *ngFor="let card of game.actionCards.slice(5, 12)"
                  (click)="cardClickedPile(card)"
        >
        </dmn-card>
        <!--<div style="width: 127px"></div>-->
      </div>
    </div>
    <div id="right-bar-container">
      <div class="exit-row" (click)="leaveGame()">
        <span>Leave Game </span><i class="material-icons">&#xE879;</i>
      </div>
      <div id="right-bar">
        <div class="turns">
          <div *ngFor="let player of game.orderedPlayers; let i = index;"
               class="turn" [ngClass]="{currentTurn: i === 0}">
            <div class="current-turn-message">Current Turn</div>
            <div class="turn-info">
              <div class="name">{{player.name}}</div>
              <div class="num-cards">{{ player.numCards }} Cards, {{ player.victoryPoints }} VP</div>
            </div>
          </div>
        </div>
        <div class="chat-container">
          <dmn-chat [endpoint]="'game'" [socket]="_gameSocketService"></dmn-chat>
        </div>
      </div>
    </div>
  </div>
  <div id="hud" *ngIf="game">
    <div class="left">
      <div class="discard">
        <dmn-card [count]="game.discardsize"></dmn-card>
        <div class="label">Discard</div>
      </div>
    </div>
    <div class="hand-container">
      <div class="hand">
        <dmn-card *ngFor="let card of game.hand"
                  (click)="cardClickedHand(card)"
                  [disabled]="game.isDisabled(card, true)"
                  [selectable]="game.isSelectable(card, true)"
                  [card]="card"
                  [@cardState]="card.state"></dmn-card>
      </div>
    </div>
    <div class="deck">
      <dmn-card [count]="game.decksize"></dmn-card>
      <div class="label">Deck</div>
    </div>
  </div>
</div>

